*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.greed {
    display: grid;
    grid-template-areas:
        "slider slider actions"
        "section main_section right_bar"
        "footer footer footer";
    grid-template-rows: 400px 700px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 30px;
    padding: 0 22% 0 22%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,8,42,1) 0%, rgba(173,173,175,1) 0%, rgba(68,194,219,1) 100%, rgba(9,8,42,1) 100%); }

#slider {
    grid-area: slider;
}

#actions {
    grid-area: actions;
}

#section {
    grid-area: section;

}

#main_section {
    grid-area: main_section;

}

#right_bar {
    grid-area: right_bar;

}

#footer{
    grid-area: footer;
}

/*                                 NAV-BAR-1              */
ul.nav-bar-1 {
    display: flex;
    padding: 0 22% 0 22%;
    flex-direction: row;
    list-style-type: none;
    background-color: white;
    overflow: hidden;
    height: 60px;
    align-items: center;
    justify-content: center;
}

ul.nav-bar-1 li {
    display: flex;
    align-items: center;
    justify-content: center;
}



ul.nav-bar-1 li a {
    color: #a3a3a3;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
}

input[type=text] {
    float: right;
    width: 180px;
    padding: 6px;
    margin: 0;
    margin-left: 15px;
    font-size: 17px;
    border: solid black 1px;
  }

.search_btn{
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    background-color: white;
}



/* Change the link color to #111 (black) on hover */
ul.nav-bar-1 li a:hover {
    color: #4197d9;
}

.img_logo {
    padding: 0;
    width: 60px;
    height: 60px;
}

.logo-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60px;
    align-items: center;
    justify-content: center;
}



.logo-big-text {
    margin: 0;
    padding: 0%;
}

.logo-small-text {
    margin: 0;
    padding: 0;
}

.nav-btn {
    display: flex;
    flex-wrap: wrap;
    height: 60px;

    margin-left: 15%;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-btn a {
    color: 474545;
    padding: 0;
    margin: 0;
}


.nav-btn div {
    margin-left: 15px;
}

.nav-btn div::before {
    content: "|";
}

.btn_to_personal_account {
    display: flex;
}

.btn_to_personal_account a {
    padding-left: 15px;
}

.btn_to_personal_account img {
    padding-left: 20px;
    height: 22px;
}

.nav-btn div:hover{
    color: #a3a3a3;
}


.my_purchases {
    display: flex;
}

.my_purchases a {
    padding-left: 10px;
    height: 22px;
}

.my_purchases img {
    padding-left: 20px;
    height: 22px;
}


/*                                 NAV-BAR-2             */

ul.nav-bar-2 {
    display: flex;
    flex-direction: row;
    padding: 0 22% 0 22%;

    color: #8f8f90;

    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    height: 100px;


    overflow: visible;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,8,42,1) 0%, rgba(173,173,175,1) 0%, rgba(68,194,219,1) 100%, rgba(9,8,42,1) 100%); 
}

.container{
    margin-left: 0;
    background-color: white;
}

.navbar{
    padding: 0 22% 0 22%;
}

.toggle-menu-btn{
    display: none !important;
}

.btn{
    background-color: yellow;
}

.nav-link1{
    text-decoration: none;
}


.link-container {
    display: flex;
}

@media (min-width: 1201px) {
    .nav-link1 {
        display: block !important;
    }
}

@media (max-width: 1200px) {
    .toggle-menu-btn{
        display: block !important;
    }

    nav {
        flex-direction: column;
    }

    .nav-link1 {
        display: none;
    }
}


/*                section  */
.section {
    background-color: #ffffff;
    height: 90%;
}

.section div {
    margin-top: 25px;
}

.section ul {
    list-style-type: none;
}

.section ul li {
    margin-left: 40px;
    margin-top: 15px;
}

.sect {
    margin-left: 25px;

    font-size: 25px;
    font-weight: bold;
    font-style: normal;

    margin-left: 40px;
}

.section ul li:hover {
    color: rgb(99, 99, 231);
}





.slider{
    position: relative;
}

.slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left_btn_slider {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    width: fit-content;
    height: fit-content;
    border-style: solid;
    margin-top: -30px;
    background-color: transparent;
    border: transparent;
    -webkit-text-stroke: 2px black; /* width and color */

}

.right_btn_slider {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    width: fit-content;
    height: fit-content;
    border-style: solid;
    margin-top: -35px;
    background-color: transparent;
    border: none;
    -webkit-text-stroke: 2px black; /* width and color */
}

.slider_slide_active {
    animation: slideADD 0.5s linear;
    opacity: 1;
}

.slider_slide_inactive {
    animation: slideREMOVE 0.5s linear;
    opacity: 0;
}

@keyframes slideADD {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideREMOVE {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* section */
.canvas{
    background-color: rgb(148, 192, 122);
    width: 100%;
}

.animate-gradient {
	height: 72px;
	line-height: 72px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 22px;
	padding: 20px;
	text-align: center;
	color: #FFFFFF;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: animate_gradient 5s ease infinite;
}


.animate-gradient:hover {
	animation: none;
}

 

@keyframes animate_gradient {

	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.main_section p{
    background-color: rgb(148, 192, 122);
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}

.grid {
	display: table;	
	width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 5px;
}
.grid-tr {
	 display: table-row;
}
.grid-td {
	display: table-cell;	
	width: 33.3%;
	vertical-align: top;
	padding: 0;
    background-color: rgb(148, 192, 122);
    text-align: center;
    padding: 20px;
}


.game_with_action {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 7px;
}

.game_with_action img {
    width: 300px;
    height: 125px;
}

.text {
    position: absolute;
    top: 85%;
    left: 50%;
    padding: 10px 220px 3px 50px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.418);
}


.right_bar{
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

.right_bar img{
    padding: 0;
    width: 300px;
    height: 125px;
    opacity: 0.6;
}

.right_bar_text{
    position: absolute;
    padding: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.418);

}


.name_of_section{
    display: flex;
    background-color: white;
    flex-direction: row;
    margin: auto;
    padding: 20px;
}

.name_of_section div{
    margin: 10px;
}

.name_of_section img{

    width: 24px;
    height: 24px;
    margin-top: 5px;
}























.container_slider{
    display: block;
    width: 100%;
    padding: 0 22% 0 22%;
}

.container_slider .slider{
    display: inline-block;
    width: 60%;
    height: 300px;
}

.container_slider .actions{
    display: inline-block;
    width: 30%;
    height: fit-content;
}

.container_main{
    display: block;
    width: 100%;
    margin: 0 22% 0 22%;
    position: relative;
    height: 800px;
}

.container_main .section{
    display: inline-block;
    width: 20%;
    position: absolute;
    top: 0;
    left:0;
}


.container_main .main_section{
    display: inline-block;
    width: 20%;
    position: absolute;
    top: 0;
    left: 10%;
}

.container_main .con{
    color: black;
    display: inline-block;
    width: 30%;
    position: absolute;
    top: 0;
    right: 43.5%;
    background-color: none;
}

.name_of_section{
    width: fit-content;
}

body{
    position: relative;
}

.footer {
    position: absolute;
    flex: auto;
    background-color: brown;
    width: 100%;
    bottom: 0;
}

.footer_content{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.footer_content div{
    color: white;
}